[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "*"
cloudinary = "*"
bootstrap4 = "*"
whitenoise = "*"
django-heroku = "*"
djangorestframework = "*"
django-bootstrap4 = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
