{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HEALTH ASSISTENTE</title>
    {% block styles %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% endblock %}
</head>
<body>

    <nav>
        <span class="logo">HEALTH-ASSISTENTE</span>
        <ul>
            <li><a href="">Login</a></li>
            <li><a href="">Signup</a></li>
        </ul>
    </nav>

    <main>

        <div class="col-md-6">
            <h1>AN ONLINE HEALTH ASSISTANT AND RECORD KEEPER</h1>
            <p>
                Keep records of your health status and the time diagnosed in our database. Also view posts on how to better eradicate your ailment by foods and better practices to make.
            </p>
        </div>

        <div class="col-md-6">
            <div class="hero_img"></div>
        </div>

    </main>

    <form action="" method="post">
        <input type="email" name="email" id="email">
        <input type="submit" value="Get Started">
    </form>
    
</body>
</html>