@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --dark-green: #073A41; 
    --midnight-green: #004953;
    --blue-green: #008B8B;
    --cream: #D9D9D9;
    --light: #FFFFFF;
    --breakpoint-xs:0;
    --breakpoint-sm:576px;
    --breakpoint-md:768px;
    --breakpoint-lg:992px;
    --breakpoint-xl:1200px;
}

body{
    background-color: var(--midnight-green);
}

header{
    width: 10%;
    max-height: 100%;
    background-color: var(--dark-green);
}

header .container{
    padding: 5vh 0;
}

.sidebar_row{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--light);
    margin: 20px 0;
    cursor: pointer;
    padding: 3px 0;
}

.sidebar_row:hover{
    background-color: var(--blue-green);
    border-radius: 5px;
}

svg{
    transform: scale(0.8);
}

.sidebar_row:nth-last-child(1){
    margin-top: 7vh;
}

main{
    margin-left: 15%;
    position: absolute;
    top: 0;
}

#lout{
    position: absolute;
    right: 0;
    top: 2vh;
}
/* PROFILE TEMPLATE STYLING */

.profile, nav{
    width: 80vw;
}

.profile{
    display: flex;
    align-items: center;
    gap: 25vw;
    margin: 10vh 0;
}

.profile .col-md-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--light);
    cursor: pointer;
}

.row_edit, .row_logout{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile .col-md-5{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--light);
}

hr{
    margin: 3vh 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .col_nav{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
}

/* HISTORY TEMPLATE STYLING */

.dashboard{
    display: flex;
    flex-direction: column;
    padding: 7vh 0;
    color: var(--light);
}

.dashboard .grid{
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    grid-auto-rows: minmax(100px, auto);
}

.dashboard .grid .col{
    width: 20rem;
    height: 15rem;
    background-color: var(--blue-green);
    position: relative;
    padding: 10px;
}

.dashboard .grid .col svg{
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

/* DASHBOARD TEMPLATE STYLING */

.history, .diet, .posts{
    margin-top: 7vh;
    color: var(--light);
    display: flex;
    flex-direction: column;
    width: 80vw;
}

.history .header, .diet .header, .posts .header{
    display: flex;
    justify-content: space-between;
}

.add{
    display: flex;
    align-items: center;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: var(--blue-green);
}

 /* POSTS TEMPLATE STYLING */

 .posts .grid{
    gap: 4rem;
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
 }

 .posts .grid .card{

    display: flex;
    flex-direction: column;
    padding: 4vh 2rem;
    background-color: var(--cream);
    gap: .7rem;
    border-radius: 10px;

 }

 .posts{
    padding-bottom: 10vh !important;
    margin-bottom: 10vh !important;
 }

 .posts .grid .card h4{
    color: var(--blue-green);
 }

 .posts .grid .card hr{
    background-color: var(--dark-green) !important;
 }

 .posts .grid .card {
    color: black;
 }

 .card_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5vh;
    background-color: var(--blue-green);
    padding: 10px;
    border-radius: 5px;
 }

 .view{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    cursor: pointer;
 }

@media screen and (max-width: 992px) {

    footer{
        width: 100%;
        background-color: var(--dark-green);
        position: absolute;
        bottom: 0;
        z-index: 999;
        position: fixed;
    }
    footer .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .sidebar_row{
        padding: 5px 5vw;
        margin: 0;
    }

    .sidebar_row:hover{
        width: 20%;
    }

    .sidebar_row:nth-last-child(1){
        margin: 0;
    }

    .sidebar_row svg{
        height: 30px;
        width: 30px;
        transform: scale(0.9);
    }

    main{
        width: 100%;
        margin: 0;
        overflow-y: scroll;
    }

    /* PROFILE TEMPLATE STYLING */

    .profile{
        gap: 5vw;
        margin: 7vh 0;
    }

    nav{
       padding: 5vw;
    }

    .col_nav svg{
        transform: scale(0.8);
        cursor: pointer;
    }

    .col_nav span{
        display: none;
    }

    section, nav{
        width: 100vw;
    }

    /* DASHBOARD TEMPLATE STYLING */
    .dashboard{
        padding-left: 5rem;
        margin-bottom: 10vh;
    }

    /* HISTORY TEMPLATE STYLING */
    .history, .diet, .posts{
        width: 100%;
        padding: 0 5vw;
        margin-bottom: 10vh;
    }

    
}

@media screen and (max-width: 768px) {
    .sidebar_row{
        padding: 5px 2vw;
    }
     /* PROFILE TEMPLATE STYLING */

     section{
        gap: 10vw;
        margin: 7vh 0;
    }

    nav{
       padding: 5vw;
    }

    .col_nav svg{
        transform: scale(0.8);
        cursor: pointer;
    }

    .col_nav span{
        display: none;
    }

    section, nav{
        width: 100vw;
    }

  /* DASHBOARD TEMPLATE STYLING */

    .dashboard, .posts{
        margin-bottom: 10vh;
    }

    .dashboard .grid, .posts .grid{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* TABLES RESPONSIVENESS */
/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
    width: 100%; 
    border-collapse: collapse; 
  }
  /* Zebra striping */
  tr:nth-of-type(odd) { 
    background: var(--blue-green); 
  }
  th { 
    background: #333; 
    color: var(--light); 
    font-weight: bold; 
  }
  td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
  }

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }

    td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}

    /*
	Label the data history
	*/
	.history td:nth-of-type(1):before { content: "Disease diagnosed"; }
	.history td:nth-of-type(2):before { content: "Age diagnosed"; }
	.history td:nth-of-type(3):before { content: "Treatment"; }
	.history td:nth-of-type(4):before { content: "Lab results"; }
	.history td:nth-of-type(5):before { content: "Recurrency"; }

    /* DIET */

	.diet td:nth-of-type(1):before { content: "Carbohydarates"; }
	.diet td:nth-of-type(2):before { content: "Vitamins"; }
	.diet td:nth-of-type(3):before { content: "Proteins"; }
	.diet td:nth-of-type(4):before { content: "Junk"; }
	.diet td:nth-of-type(5):before { content: "Water(litres)"; }


}