@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --midnight-green: #004953;
    --blue-green: #008B8B;
    --cream: #D9D9D9;
    --light: #FFFFFF;
    --breakpoint-xs:0;
    --breakpoint-sm:576px;
    --breakpoint-md:768px;
    --breakpoint-lg:992px;
    --breakpoint-xl:1200px;
}

body{
    background-color: var(--midnight-green);
}

nav{
    padding: 20px 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav span{
    color: var(--light);
    font-size: 32px;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline;
    margin: 0 50px;
}

nav ul li a{
    text-decoration: none;
    color: var(--light);
}

nav ul li:nth-child(2){
    padding: 5px 10px;
    background-color: var(--blue-green);
    border-radius: 2px;
}

.hamburger{
    display: none;
}

.hamburger div{
    height: 2px;
    width: 32px;
    background-color: var(--light);
    margin: 7px 0;
    cursor: pointer;
}

main{
    display: flex;
    padding: 10vh 5vw;
    justify-content: space-between;
    justify-content: first baseline;
    gap: 5vw;
}

.col-md-6:nth-child(1){
    padding-right: 5vw;
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: var(--light);
}

.hero_img{
    background-image: url('../assets/annelies-geneyn-bhBONc07WsI-unsplash.jpg');
    height: 18em;
    width: 30em;
    background-position: center;
    background-size: cover;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
    margin-bottom: 10vh;
}

input[type='email']{
    padding: 10px 5px;
    width: 40vw;
    outline: none;
    border: none;
}

input[type='submit']{
    height: 44px;
    width: 15vw;
    background-color: var(--blue-green);
    outline: none;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    
    .hamburger{
        display: block;
        cursor: pointer;
    }

   nav ul{
    display: none;
   } 

   main{
    flex-direction: column;
   }

   input[type='email'], input[type='submit'] {
    width: 80vw;
   }
    
}

@media screen and (max-width: 992px) {

    .hero_img{
        height: 14em;
        width: 22em;  
    }
     
 }